@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 768px) {
  .mobile-logo {
    padding: 0px 10px;
  }
  /* Login Screen */

  .mobile-heading {
    padding-left: 16px;
  }
  .mobile-slogan {
    margin-left: 18px !important;
    font-size: 14px;
  }
  .mobile-form-heading {
    padding-left: 26px !important;
    font-size: 24px;
    margin-top: 16px;
  }

  .mobile-form {
    padding-left: 24px;
    width: 80vw;
  }

  /* Feed Screen */
  .mobile-feed-title {
    margin: 0px !important;
  }
  .mobile-createPost {
    margin: 32px auto 2px;
    background-color: red;
    width: 390px;
  }
  .mobile-createPost-image {
    padding: 0px 16px !important;
  }

  .mobile-feed {
    width: 390px;
    margin: 0px auto;
  }
  .mobile-userIcon {
    padding-left: 1rem;
  }

  .mobile-postInput {
    width: 300px;
  }

  .mobile-postBtn {
    width: 300px !important;
  }

  .mobile-edit {
    padding-top: 0.9rem;
    padding-right: 1.5rem;
  }
  .mobile-feedPost {
    margin-left: 0px !important;
  }
  .mobile-feed-margin {
    margin-bottom: 48px;
  }

  .mobile-explore {
    width: 390px;
    margin: 12px auto 92px;
  }

  .mobile-suggestions {
    width: 350px;
    margin: 24px auto;
  }
  .mobile-follow {
    margin-top: 24px;
  }

  .mobile-profile {
    width: 400px;
    margin: 24px 15px;
  }
  .mobile-profile-posts {
    width: 400px;
    background-color: red;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .mobile-logo {
    padding: 0px 10px;
  }
  /* Login Screen */

  .mobile-heading {
    padding-left: 16px;
  }
  .mobile-slogan {
    margin-left: 18px !important;
    font-size: 14px;
  }
  .mobile-form-heading {
    padding-left: 26px !important;
    font-size: 24px;
    margin-top: 16px;
  }

  .mobile-form {
    padding-left: 24px;
    width: 80vw;
  }

  /* Feed Screen */
  .mobile-feed-title {
    margin: 0px !important;
  }
  .tablet-createPost {
    margin: 32px auto 2px;
    width: 580px;
  }
  .tablet-createPost-image {
    padding: 0px 16px !important;
  }

  .tablet-feed {
    width: 490px;

    margin: 0px auto;
  }
  .mobile-userIcon {
    padding-left: 1rem;
  }

  .tablet-postInput {
    width: 200px !important;
  }

  .mobile-postBtn {
    width: 400px !important;
  }

  .mobile-edit {
    padding-top: 0.9rem;
    padding-right: 1.5rem;
  }
  .mobile-feedPost {
    margin-left: 0px !important;
  }
  .mobile-feed-margin {
    margin-bottom: 48px;
  }

  .mobile-explore {
    width: 390px;
    margin: 12px auto 92px;
  }

  .tablet-suggestions {
    width: 350px;
    margin: 92px auto;
  }
  .mobile-follow {
    margin-top: 24px;
  }

  .tablet-profile {
    width: 600px;
    margin: 64px auto;
  }
  .tablet-profile-posts {
    width: 400px;
    background-color: red;
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 1200px) {
  .web-img {
    display: block !important;
  }
}

@media only screen and (min-width: 1550px) {
  .login-img {
    max-height: 93vh;
  }
}
